// linksGroup
.linksGroup{
    .linksCount{
        height: 40px;
        width: 40px;
        background-color: #545454;
        color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
    button.link-primary{
        background-color: transparent;
        border: none;
    }
}

.imageSlider{
    max-width: 700px;
    height: auto;
    margin: 0 auto;
}


.tabInnerView{
    .TIVImage{
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 20px auto;
    }
    .TIVIframe{
        iframe{
            width: 100%;
            height: 700px;
        }
    }
}


.tabBC{
    .breadcrumb-item{
        button{
            background-color: transparent;
            border: none;
        }
    }
}

// @media (max-width: 1000px){
//     .tabBC{
//         .breadcrumb-item{
//             button{
//                 background-color: red;
//             }
//         }
//     }
// }

// @media (max-width: 450px){
//     .tabBC{
//         .breadcrumb-item{
//             button{
//                 background-color: blue;
//                 color: #fff;
//             }
//         }
//     }
// }