// linksGroup
.linksGroup{
    .linksCount{
        height: 40px;
        width: 40px;
        background-color: #545454;
        color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
}

.imageSlider{
    width: 700px;
    height: auto;
    margin: 0 auto;
}